## Read Data
# Task 01
Create a function that takes as input the path to a single .csv file in the specdata folder and creates a data table from its contents. The data types in the output table have to match the data (date is understood as a date).

# Solution of task 01
to write this function I will use read.tablefunction

In [3]:
import pandas as pd

def data_read_i (path_to):
    return pd.read_csv(path_to, parse_dates = [0])

Data_i = data_read_i('specdata/002.csv')
Data_i.head(5)

        Date  sulfate  nitrate  ID
0 2001-01-01      NaN      NaN   2
1 2001-01-02      NaN      NaN   2
2 2001-01-03      NaN      NaN   2
3 2001-01-04      NaN      NaN   2
4 2001-01-05      NaN      NaN   2

# Task 02
Write a for loop that loops through all the file paths in the specdata folder and uses the function written in previous point to read the data from the .csv files. Create a table with columns that show:

1. ID nr
2. the nr of rows in each of the read in tables
3. The number of rows where atleast sulfate or nitrate data is not missing.

# Solution Task 02

In [6]:
from os import listdir, sep

files_list = listdir('specdata')

ID_vec = []
No_data_row_vec = []
No_rows_not_NA_vec = []

for file_i in files_list:
    path_i = 'specdata' + sep + file_i
    data_i = data_read_i (path_i)
    ID = data_i.ID[0]
    No_data_row = len(data_i.ID)
    data_not_NA = data_i.dropna(how = 'all', subset = ['sulfate','nitrate'])
    No_rows_not_NA = len(data_not_NA)
    
    ID_vec.append(ID)
    No_data_row_vec.append(No_data_row)
    No_rows_not_NA_vec.append(No_rows_not_NA)
    
out_tab = pd.DataFrame({'ID' : ID_vec,
                        'No_data_row' : No_data_row_vec,
                        'No_rows_not_NA' : No_rows_not_NA_vec})

out_tab.head(5)

   ID  No_data_row  No_rows_not_NA
0   1         1461             122
1   2         3652            1051
2   3         2191             249
3   4         3652             479
4   5         2922             405